/*全屏页面*/
html,body {
  width: 100%;
  height: 100%;
}

.layout {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  background-color: #484848;
  background: url("../images/index_bg.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}
.info {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 80px;
  padding-right: 80px;
}
.info li {
  width: 100%;
  position: relative;
}
.info .iconfont {
  position: absolute;
  margin: 5px 10px;
  font-size: 25px;
  color: #ffcf49;
}
.info li input {
  outline: none;
  width: 100%;
  height: 40px;
  display: block;
  margin: 5px auto;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, .3);
}
.info li input::-webkit-input-placeholder{
  color: #fff0ff;
}
.info li a {
  display: block;
  height: 40px;
  background-color: #ffcf49;
  color: #000;
  text-align: center;
  line-height: 40px;
  margin: 30px 20px 0 20px;
  border-radius: 20px;
}

/*忘记密码部分*/
.layout .btm {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  padding: 0 30px;

}
.layout .btm > a {
  border-top: 1px solid #ffcf49;
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffcf49;
}

.layout div:first-child {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  padding: 0 80px;
  padding-top: 50px;
}
.layout div h2 {
  width: 100%;
  color: #ffcf49;
  font: 40px arial;
  height: 100%;
  text-align: center;
}